/* index.css 또는 App.css */

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2; /* 모바일 박스 외부 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 전체 앱을 감싸는 모바일 레이아웃 */
.mobile-container {
  width: 412px;
  /* height: 915px; */
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}



/* 메인 콘텐츠 영역만 스크롤 허용 */
.main-content {
  flex: 1;
  overflow-y: auto;
  padding-inline: 16px;
  box-sizing: border-box;
  padding-top: 5px;
}
